*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background-color: #dbdad3;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}

/* nav-bar */

.navContainer{
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 10%;
  position: relative;
}

.navContainer .nav-top{
  width: 100%;
  height: 121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer .nav-top img{
  width: 150px;
}

.navContainer .search-form{
  width: 342px;
  height: 36px;
  display: flex;
  align-items: center;
  border: 1px solid #873d00;
  border-radius: 5px;
  padding: 0 10px 0 15px;
}

.navContainer .search-form input{
  border: none;
  outline: none;
  font-size: 16px;
  color: #f07e22;
  flex: 1;
}

.navContainer .search-form .search-btn{
  height: 34px;
  font-size: 22px;
  color: #f07e22;
  background-color: transparent;
  border: none;
}

.navContainer .new-infoline{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navContainer .new-infoline .main-phone{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #616265;
  gap: 10px;
}

.navContainer .new-infoline .phone-icon{
  color: #f07e22;
  font-size: 25px;
}

.navContainer .new-infoline .main-phone .main-operators{
  font-size: 12px;
  color: #f07e22;
}

.navContainer .nav-top .language-toggle{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #f07e22;
  color: #ffffff;
  font-size: 18px;
}

.navContainer .nav-top .language-toggle:hover{
  background-color: #4a3c97;
  transition: 0.5s;
}

.navContainer .nav-bottom{
  width: 100%;
  height: 40px;
}

.navContainer .nav-bottom ul{
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.navContainer .nav-bottom ul li{
  width: 174px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f07e22;
  font-size: 18px;
}

.navContainer .nav-bottom ul li:hover{
  background-color: #4a3c97;
}

.navContainer .nav-bottom ul li .pages{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.navContainer .nav-bottom ul li:first-child{
  border-top-left-radius: 10px;
}

.navContainer .nav-bottom ul li:last-child{
  border-top-right-radius: 10px;
}

.navContainer .nav-top .bar-btn{
  display: none;
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.toggle-div {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.toggle-div.hidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.navbar-menu {
  width: 40%;
  position: absolute;
  top: 100px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: #f07e22;
  box-shadow: 0 0 10px #4a3c97;
}

.navbar-menu li .pages{
  text-decoration: none;
  color: #ffffff;
}

.navbar-menu li:hover .pages{
  color: #4a3c97;
}

/* --------------------------------------------------------------------- */
/* home-page */

.home-container{
  width: 100%;
}

.slider{
  width: 80%;
  height: 400px;
  background-color: #4a3c97;
  margin: 0 auto;
}

.for-content{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px;
  background-color: #f2f2ed;
  gap: 30px;
}

.for-content h1{
  color: #946b4c;
  font-size: 25px;
  border-bottom: 1px solid #946b4c38;
}

.for-content .uslugi-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.for-content .uslugi-cards .card{
  width: 274px;
  cursor: pointer;
}

.for-content .uslugi-cards .card img{
  width: 100%;
}

.for-content .uslugi-cards .card h2{
  font-size: 19px;
  font-weight: 400;
  color: #004fba;
}

.for-content .uslugi-cards .card:hover h2{
  color: #f78da7;
  text-decoration: underline;
}

.for-content .uslugi-cards .card p{
  font-size: 16px;
  color: #444444;
}

.for-content-new{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px;
  background-color: #ffffff;
  gap: 30px;
}

.for-content-new h1{
  font-size: 25px;
  color: #946b4c;
  border-bottom: 1px solid #946b4c38;
}

.for-content-new .apparati-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.for-content-new .apparati-cards .card{
  width: 30%;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.for-content-new .apparati-cards img{
  width: 113px;
  height: 113px;
}

.for-content-new .apparati-cards .card h2{
  font-size: 19px;
  font-weight: 400;
  color: #004fba;
}

.for-content-new .apparati-cards .card:hover h2{
  color: #f78da7;
  text-decoration: underline;
}


.for-content-new .apparati-cards .card p{
  font-size: 16px;
  color: #444444;
  margin-top: 7px;
}


.for-situacia{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px;
  background-color: #f2f2ed;
  gap: 30px;
}

.for-situacia h1{
  font-size: 25px;
  color: #946b4c;
  border-bottom: 1px solid #946b4c38;
}

.for-situacia .situacia-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.for-situacia .situacia-cards .card{
  width: 30%;
}

.for-situacia .situacia-cards .card img{
  width: 100%;
}

.for-situacia .situacia-cards .card h2{
  font-size: 19px;
  color: #004fba;
  font-weight: 400;
  margin-top: 10px;
}

.for-situacia .situacia-cards .card:hover h2{
  color: #f78da7;
  text-decoration: underline;
}

.for-situacia .situacia-cards .card p{
  font-size: 16px;
  color: #444444;
  margin-top: 5px;
}

.for-news{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px;
  background-color: #ffffff;
  gap: 30px;
}

.for-news h1{
  font-size: 25px;
  color: #946b4c;
  border-bottom: 1px solid #946b4c38;
}

.for-news .news-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.for-news .news-cards .card{
  width: 32%;
  cursor: pointer;
}

.for-news .news-cards .card h2{
  font-size: 19px;
  font-weight: 400;
  color: #004fba;
}

.for-news .news-cards .card:hover h2{
  color: #f78da7;
  text-decoration: underline;
}

.for-news .news-cards .card p{
  font-size: 16px;
  color: #444444;
  margin-top: 5px;
}

.industry-news{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px;
  background-color: #f2f2ed;
  gap: 30px;
}

.industry-news  h1{
  font-size: 25px;
  color: #946b4c;
  border-bottom: 1px solid #946b4c38;
}

.industry-news .industry-slider{
  display: flex;
  justify-content: center;
}

.industry-news .industry-swiper{
  width: 90%;
}

.industry-news .industry-slider .card{
  width: 225px;
  height: 351px;
  padding: 10px;
  background-color: #ffffff;
  margin: 0 auto;
}

.industry-news .industry-slider .card img{
  width: 100%;
}

.industry-news .industry-slider .card h2{
  font-size: 19px;
  font-weight: 400;
  color: #004fba;
}

.industry-news .industry-slider .card p{
  font-size: 16px;
  color: #444444;
  margin-top: 10px;
}

.industry-news .industry-slider a{
  text-decoration: none;
}

.industry-news .industry-slider .card:first-child{
  margin-left: 20px;
}

.for-questions{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  gap: 30px;
}

.for-questions h1{
  font-size: 25px;
  color: #946b4c;
  border-bottom: 1px solid #946b4c38;
}

/* ------------------------------------------------------------------------ */
/* footer */
.footer-container{
  width: 80%;
  /* height: 278px; */
  background-color: #ffffff;
  margin: 0 auto;
  border-top: 1px solid #acacac;
}

.footer-container .footer-top{
  width: 100%;
  /* height: 224px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 30px 18px;
}

.footer-container .footer-top ul{
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
}

.footer-container .footer-top ul li a{
  text-decoration: none;
  font-size: 15px;
  color: #737373;
}

.footer-container .footer-top ul li a:hover{
  text-decoration: underline;
}

.footer-container .footer-top ul li:first-child{
  font-size: 16px;
  color: #004fba;
}

.footer-container .footer-bottom{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2ed;
  padding: 20px;
}

.footer-container .footer-bottom ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer-container .footer-bottom ul li a{
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #004fba;
}

.footer-container .footer-bottom ul li a:hover{
  text-decoration: underline;
  color: #4a3c97;
}

.footer-container .footer-bottom ul li a .footer-icon{
  font-size: 20px;
  color: grey;
  color: #f07e22;
}

/* ----------------------------------------------------------------------- */
/* services page */

.services-container{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.services-container .nih-bread{
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 5px 33px;
  background-color: #f07e22;
  color: #fff;
  font-size: 12px;
}

.services-container .nih-bread span a{
  color: #fff;
  text-decoration: none;
}

.services-container .nih-bread span a:hover{
  text-decoration: underline;
}

.services-container > h1{
  width: 100%;
  height: 60px;
  /* background-color: #873d00; */
  padding: 12px 33px;
  color: #fff;
  background: rgb(135,61,0);
  background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(255,255,255,1) 100%);
}

.services-container .content{
  width: 100%;
  padding: 10px 31px 18px;
  font-size: 16px;
  color: #2b2b2b;
}

.services-container .content .content-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

.services-container .content .content-cards a{
  width: 45%;
  text-decoration: none;
}

.services-container .content .content-cards .card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.services-container .content .content-cards .card img{
  width: 126px;
  height: 126px;
}

.services-container .content .content-cards .card .nih-header{
  font-size: 18px;
  color: #004fba;
}

.services-container .content .content-cards .card .nih-text{
  font-size: 14px;
  color: #444444;
  margin-top: 7px;
}

.services-container .content .content-cards .card:hover .nih-header{
  text-decoration: underline;
} 

/* ------------------------------------------------ */
/* catalog page */

.catalog-container{
  width: 80%;
  margin: 0 auto;
}

.catalog-container .nih-bread span a{
  text-decoration: none;
  color: #fff;
}

.catalog-container .nih-bread span a:hover{
  text-decoration: underline;
}

.catalog-container .nih-bread{
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 5px 33px;
  background-color: #f07e22;
  color: #fff;
  font-size: 12px;
}

.catalog-container h1{
  width: 100%;
  height: 60px;
  /* background-color: #873d00; */
  padding: 12px 33px;
  color: #fff;
  background: rgb(135,61,0);
  background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(255,255,255,1) 100%);
}

.catalog-container .content{
  display: flex;
  background-color: #fff;
  padding: 10px 16px 18px;
  gap: 20px;
}

.catalog-container .left{
  width: 70%;
}

.catalog-container .left > p{
  color: #2b2b2b;
}

.catalog-container .left .cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.catalog-container .left .cards-container a{
  width: 48%;
  text-decoration: none;
}

.catalog-container .left .cards-container .card{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.catalog-container .left .cards-container .card:hover p{
  text-decoration: underline;
}

.catalog-container .left .cards-container .card p{
  font-size: 18px;
  color: #004fba;
}

.catalog-container .left .cards-container .card span{
  font-size: 14px;
  color: #444444;
  margin-top: 10px;
}

.catalog-container .left .cards-container .card img{
  width: 126px;
  height: 126px;
}

.catalog-container .right{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog-container .right .brends li a{
  background-color: #f5f5f5;
}

.catalog-container .right .brends li a img{
  background-color: #f5f5f5;
  opacity: 0.3;
}

.catalog-container .right .brends li a img:hover{
  opacity: 1;
  transition: 0.5s;
}

.catalog-container .content .right ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.catalog-container .content .right ul li{
  border-bottom: 1px dotted #acacac;
}

.catalog-container .content .right ul li a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #004fba;
  text-decoration: none;
}

.catalog-container .content .right ul li:hover a{
  text-decoration: underline;
}

/* ----------------------------------------------------------------------------- */
/* Doctors page */

.doctors-container{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.nih-bread{
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 5px 33px;
  background-color: #f07e22;
  color: #fff;
  font-size: 12px;
}

.doctors-container .nih-bread a{
  text-decoration: none;
  color: #fff;
}

.doctors-container .nih-bread a:hover{
  text-decoration: underline;
}

.doctors-container h1{
  width: 100%;
  height: 60px;
  /* background-color: #873d00; */
  padding: 12px 33px;
  color: #fff;
  background: rgb(135,61,0);
  background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(255,255,255,1) 100%);
}

.doctors-container h2{
  margin: 0 16px 18px;
  color: #873d00;
}

.doctors-container .doctors-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 25px;
  gap: 30px;
}

.doctors-container .doctors-cards a{
  width: 45%;
  text-decoration: none;
}

.doctors-container .doctors-cards .card{
  display: flex;
  gap: 10px;
}

.doctors-container .doctors-cards .card img{
  width: 30%;
  height: 100%;
}

.doctors-container .doctors-cards .card .txt{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #444444;
}

.doctors-container .doctors-cards .card .txt p{
  font-size: 18px;
  color: #004fba;
}

.doctors-container .doctors-cards .card:hover .txt p{
  text-decoration: underline;
}

/* --------------------------------------------------------------- */
/* AboutUs page */
.aboutPage-container{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.aboutPage-container a{
  text-decoration: none;
  color: #fff;
}

.aboutPage-container a:hover{
  text-decoration: underline;
}

.aboutPage-container h1{
  width: 100%;
  height: 60px;
  /* background-color: #873d00; */
  padding: 12px 33px;
  color: #fff;
  background: rgb(135,61,0);
  background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(255,255,255,1) 100%);
}

.aboutPage-container .content{
  width: 100%;
  padding: 10px 16px 18px;
}

.aboutPage-container .content img{
  width: 100%;
  margin-bottom: 30px;
}

.aboutPage-container .content h2{
  font-size: 24px;
  color: #f07e22;
}

.aboutPage-container .content p{
  color: #2b2b2b;
  margin-top: 10px;
}

.aboutPage-container .about-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 16px 18px;
  gap: 15px;
}

.aboutPage-container .about-cards a{
  width: 30%;
  margin-top: 30px;
}

.aboutPage-container .about-cards a .card{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutPage-container .about-cards a .card:hover p{
  text-decoration: underline;
  color: #f78da7;
}

.aboutPage-container .about-cards a img{
  width: 100%;
}

.aboutPage-container .about-cards a p{
  font-size: 19px;
  color: #004fba;
}

.aboutPage-container .about-cards a span{
  font-size: 16px;
  color: #444444;
}

/* ------------------------------------------------------------- */
/* deti i sluh page */
.deti-i-sluh{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.deti-i-sluh a{
  text-decoration: none;
  color: #fff;
}

.deti-i-sluh a:hover{
  text-decoration: underline;
}

.deti-i-sluh h1{
  width: 100%;
  height: 60px;
  /* background-color: #873d00; */
  padding: 12px 33px;
  color: #fff;
  background: rgb(135,61,0);
  background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(255,255,255,1) 100%);
}

.deti-i-sluh .content{
  width: 100%;
  padding: 10px 16px 18px;
}

.deti-i-sluh .content p{
  color: #2b2b2b;
}

.deti-i-sluh .cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.deti-i-sluh .cards-container a{
  width: 45%;
}

.deti-i-sluh .cards-container a .card{
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #444444;
}



.deti-i-sluh .cards-container a img{
  width: 30%;
  height: 100%;
}

.deti-i-sluh .cards-container a .txt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deti-i-sluh .cards-container a .card .txt p{
  color: #004fba;
  font-size: 18px;
}

.deti-i-sluh .cards-container a:hover .txt p{
  text-decoration: underline;
}






















@media (max-width: 1116px){
  .for-content .uslugi-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .for-content-new .apparati-cards .card h2{
    font-size: 16px;
  }

  .for-content-new .apparati-cards .card p{
    font-size: 13px;
  }

  .for-situacia .situacia-cards .card h2{
    font-size: 16px;
  }
  .for-situacia .situacia-cards .card p{
    font-size: 13px;
  }
  .for-news .news-cards .card h2{
    font-size: 16px;
  }
  .for-news .news-cards .card p{
    font-size: 13px;
  }
  .services-container .content-cards .nih-header{
    font-size: 16px;
  }
  .services-container .nih-text{
    font-size: 13px;
  }
  .catalog-container .content .left .cards-container .card p{
    font-size: 16px;
  }
  .catalog-container .content .left .cards-container .card span{
    font-size: 13px;
  }
  .catalog-container .content .left p{
    font-size: 13px;
  }
  .doctors-container .doctors-cards p{
    font-size: 16px;
  }
  .doctors-container .doctors-cards span{
    font-size: 13px;
  }
  .aboutPage-container p{
    font-size: 13px;
  }
  .aboutPage-container .about-cards p{
    font-size: 16px;
  }
  .aboutPage-container .about-cards span{
    font-size: 13px;
  }

  .for-content{
    width: 85%;
  }
  .for-content-new{
    width: 85%;
  }
  .slider{
    width: 85%;
  }
  .for-situacia{
    width: 85%;
  }
  .for-news{
    width: 85%;
  }
  .industry-news{
    width: 85%;
  }
  .for-questions{
    width: 85%;
  }
  .footer-container{
    width: 85%;
  }
  .services-container{
    width: 85%;
  }
  .catalog-container{
    width: 85%;
  }
  .aboutPage-container{
    width: 85%;
  }
  .catalog-container .content .right{
    display: none;
  }
  .catalog-container .content .left{
    width: 100%;
  }
  .navContainer .nav-bottom ul li{
    width: 135px;
  }
  .doctors-container{
    width: 85%;
  }
  .aboutPage-container{
    width: 85%;
  }
}

@media (max-width: 1023px){
  .for-content-new .apparati-cards .card{
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .nav-bottom{
    display: none;
  }

  .navContainer .nav-top .bar-btn{
    display: flex;
  }

  .navContainer{
    height: 100px;
    background-color: #f07e22;
    box-shadow: 0 0 10px #4a3c97;
  }

  .navContainer .nav-top .search-form{
    display: none;
  }

  .navContainer .nav-top img{
    width: 120px;
    color: #ffffff;
    filter: brightness(0) invert(1);
  }

  .navContainer .new-infoline a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
  }
  .navContainer .new-infoline .phone-icon{
    color: #ffffff;
    font-size: 16px;
  }

  .navContainer{
    padding: 0 5%;
  }
  .services-container .content-cards a{
    width: 80%;
  }
  .services-container .content-cards{
    display: flex;
    flex-direction: column;
  }
  .services-container .content-cards .nih-text{
    width: 400px;
  }
  .nav-top .language-toggle{
    /* box-shadow: 0 0 10px #acacac; */
    border: 1px solid #fff;
  }
  .navContainer .nav-top .language-toggle{
    width: 70px;
    height: 30px;
    font-size: 16px;
  }
}

@media (max-width: 816px) {
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services-container .content-cards .nih-text{
    width: 250px;
  }
  .catalog-container .content .left .cards-container .card img{
    width: 100px;
    height: 100px;
  }
  .doctors-container .doctors-cards a{
    width: 90%;
  }
  .aboutPage-container .about-cards a{
    width: 45%;
  }
}

@media (max-width: 650px){
  .for-content-new .apparati-cards .card{
    width: 90%;
  }
  .for-content-new .apparati-cards{
    justify-content: center;
  }
  .for-content{
    width: 90%;
  }
  .for-content-new{
    width: 90%;
  }
  .slider{
    width: 90%;
  }
  .for-situacia{
    width: 90%;
  }
  .for-news{
    width: 90%;
  }
  .industry-news{
    width: 90%;
  }
  .for-questions{
    width: 90%;
  }
  .footer-container{
    width: 90%;
  }
  .services-container{
    width: 90%;
  }
  .catalog-container{
    width: 90%;
  }
  .doctors-container{
    width: 90%;
  }
  .aboutPage-container{
    width: 90%;
  }
  .services-container .content-cards .nih-text{
    width: 250px;
  }
  .catalog-container .content .left .cards-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .catalog-container .content .left .cards-container .card{
    width: 500px;
    display: flex;
    justify-content: start;
  }
  .catalog-container .content .left .cards-container .card .txt{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 615px) {
  .footer-top{
    display: flex;
    flex-direction: column;
    background-color: #f2f2ed;
  }
  .footer-top ul{
    width: 100%;
  }
  .footer-top ul li {
    width: 100%;
  }
  .footer-bottom ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .navContainer .nav-top .language-toggle{
    width: 50px;
    height: 25px;
    font-size: 14px;
  }
}

@media (max-width: 600px){
  .for-situacia .situacia-cards .card{
    width: 100%;
  }
  .for-situacia .situacia-cards{
    gap: 30px;
  }
}

  @media (max-width: 545px){
    .catalog-container .content .left .cards-container .card{
      width: 400px;
    }
    .aboutPage-container .about-cards a{
      width: 90%;
    }
    .aboutPage-container .about-cards{
      justify-content: center;
    }
  }

@media (max-width: 461px){
  .for-news .news-cards .card{
    width: 80%;
  }
  .catalog-container .content .left .cards-container .card{
    width: 300px;
  }
  .navContainer .nav-top .new-infoline .main-phone a{
    font-size: 12px;
  }
  .navContainer .nav-top .new-infoline .main-phone .phone-icon{
    font-size: 14px;
  }
}